.underlineanimation{
    animation-name: underline;
    animation-duration: 4s;
}

@keyframes underline {
    0%{
        width: 0;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
}

.about{
    background-image: url('./assets/about.png');
    background-position: center;
    background-repeat: no-repeat;
}

.hero{
    background-image: url('./assets/hero.png');
    background-position: center;
    background-repeat: no-repeat;
}

.dash{
    background-image: url('/dash.png');
    background-position: center;
    background-repeat: no-repeat;
}